.input {
  padding: 15px 12px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  font-family: Raleway;
  background: #f0f4ff;
  margin: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.number {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
